span{
    color:red;
}
input{
    height:20px;
    width:200px;
}
body{
    margin-left:1em;
}
#separate{
    color:orange;
    position: absolute;
    margin-left:30em;
}
#firstname{
    position:absolute;
    margin-top:-8px;
    margin-left:4.9em;
    opacity: 0.6;
}
#lastname{
    position: absolute;
    margin-top:-8px;
    margin-left:18.6em;
    opacity: 0.6;

}
#area{
    position: absolute;
    margin-left:5em;
    height:30px;
    width:140px;
}
#phonenumber{
    position: absolute;
    margin-left:20em;
    height:30px;
}
#areacode{
    position: absolute;
    margin-top:25px;
    margin-left:12.9em;
    opacity: 0.6;
}
#Phnum{
    position: absolute;
    margin-top:25px;
    margin-left:25.5em;
    opacity: 0.6;
}
#bd{
    position:absolute;
    margin-left:9em;
}
#date{
    position:absolute;
    margin-left:20em;
}
#emove{
    position:absolute;
    margin-left:32.3em;
}
#mail{
    position:absolute;
    margin-left:49.2em;
}
#chk1{
    position: absolute;
    margin-left:-5em;
}
#cha{
    position: absolute;
    margin-left: 3em;
    margin-top:3px;
   
}
#chk2{
    position: absolute;
    margin-left:5em;
}
#a{
    display: block;
    margin-left:9em;
    margin-top:-1.9em;
}
#arr{
    position: absolute;
    margin-left:-5.5em;
    margin-top:5px;
    color: black;
    opacity: 0.6;
}
#address{
    position: absolute;
    margin-left:41em;
    margin-top:-58px;
}
#atext{
    position: absolute;
    margin-left:59.3em;
    margin-top:-58px;
}
#one{
    position: absolute;
    margin-left:59.3em;
    margin-top:-15px;
    width:100px; 
    height:25px;
}
#two{
    position: absolute;
    margin-left:68em;
    margin-top:-15px;
    width:100px; 
    height:25px; 
}
#three{
    position: absolute;
    margin-left:76.7em;
    margin-top:-15px;
    width:100px; 
    height:25px; 
}
#others{
    position: absolute;
    margin-top:-50px;
}
#textothers{
    position: absolute;
    margin-top:-50px;
    margin-left:219px;
    width:400px;
}
#file{
    position: absolute;
    margin-left:6.8em;
}
#b1{
    position: absolute;
    margin-left:1.4px;
    width:120px;
    height:40px;
    margin-top:1.4px;
    color:white;
    color: green;

}
#green{
    position: absolute;
    margin-left:13.5em;
    border: 1px solid black;
    width:123px;
    height:43px;
    background-color: green;
}
#b2{
    position: absolute;
    margin-left:1.4px;
    width:120px;
    height:40px;
    margin-top:1.4px;
    color:white;
    color:orange;

}
#orange{
    position: absolute;
    margin-left:22.5em;
    border: 1px solid black;
    width:123px;
    height:43px;
    background-color:orange;
}
#hrs{
    border:1px solid black;
    width:87em;
    height:4px;
    background-color:grey;
    border-radius: 3px;
    border:none;
}
#cool{
   margin-left:17em;
}